<div data-pf-placeholder="content" >
    <style>

        @font-face {
            font-family:'NiveaBook';
            src: url('../fonts/nivealightot.eot'); /* IE9 Compat Modes */
            src: url('../fonts/nivealightot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/nivealightot.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/nivealightot.ttf')  format('truetype'); /* Legacy iOS */
            font-weight:normal;
            font-style:normal;
            font-display:fallback
        }
        .invoices-wrapp {
            width: 100%;
            overflow-x: scroll;
        }
        .invoices {
            font-family: 'NiveaBook', Arial, sans-serif;
            border: 0;
            border-spacing: 0;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            overflow: hidden;
            width: 100%;
            color: #00136f;
            font-weight: 600;
            min-width: 600px;
        }
        .invoices th, .invoices td {
            padding: 12px 10px;
            text-align: center;
        }

        .invoices th {
            background: #00136f;
            color: #fff;
            white-space: nowrap;
            font-weight: normal;
            text-transform: uppercase;
        }
        .invoices img {
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border: 2px solid #00136f;
            width: 70px;
            min-width: 70px;
            min-height: 70px;
            object-fit: cover;
        }
        .invoices .status {
            text-decoration: underline;
        }
        .empty-box {
            background: #f8fafd;
            text-align: center;
            font-family: 'NiveaBook', Arial, sans-serif;
            color: #00136f;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
        }
    </style>
    {% if invoices|length > 0 %}
    <div class="invoices-wrapp">
        <table class="invoices">
            <thead>
                <tr>
                    <th>№ Чека</th>
                    <th>Фото</th>
                    <th>Дата загрузки</th>
                    <th>Статус</th>
                    <th>Приз</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ loop.index }} </td>
                        <td><img alt="" src="{{ invoice.invoice_file_url }}"></td>
                        <td>{{ invoice.invoice_timestamp }}</td>
                        <td class="status">{{ invoice.status }}</td>
                        <td>{{ invoice.prize }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%  else %}
        <div class="empty-box">
            Вы не загрузили ни одного чека
        </div>
    {% endif %}
</div>
